nickname: chii
realname: chii
identpass: yaya

server: irc.esper.net
port: 6697
ssl: true

channels:
  - chiisadventure

user_roles:
    admins:
      - nick!ident@host

logging: true
logfile: logs/chii.log

cmd_prefix: .

modules:
  - commands
  - events
  - tasks

imgur_api_key: YOUR_API_KEY
google_api_key: YOUR_API_KEY

markov_brain: brain.txt
