django
-e git+https://github.com/mitsuhiko/jinja2.git#egg=jinja2
-e git+https://github.com/dcramer/django-paging.git#egg=django-paging
MarkupSafe
-e git+https://github.com/SyrusAkbary/Djinja.git#egg=djinja
