{% extends "base.html" %}

{% with paginate(request, my_queryset) as results %}

{% block content %}
    <div class='quotes'>
    {% for quote in results.objects %}
        <div class='quote_info'>
          <ul>
            <li><a href="{% url quotes.views.quote quote.id %}">{{ quote.id }}</a><li>
            <li>added by <a href="{% url quotes.views.nick quote.nick %}">{{ quote.nick }}</a><li>
            <li>{{ quote.added }}<li>
          </ul>
        </div> 
        <div class='quote'>{{ quote.quote }}</div>
        <br />
    {% endfor %}
    </div>
{% endblock %}

{% block footer %}
  {{ results.paging }}
{% endblock %}

{% endwith %}
